body {
    margin: 0;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Monterrat", "Helvetica Neue";
}

.container {
    background-color: rgba(255,255,255,0.3);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    box-shadow: 1rem 1rem;
}

.heading {
    font-size: 3rem;
}

.input {
    padding: 1rem 2rem;
    font-size: 1rem;
    background: rgba(255,255,255,0.4);
    border-color: rgba(255,255,255,0.5);
    margin: 1rem;
    border-radius: 2rem;
}

.btn {
    background-color: lightgreen;
    border: none;
    box-shadow: 0.5rem 0.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(16, 169, 16);
    transition: ease-in-out 0.3s;
}

.info-text {
    font-size: 1.5rem;
    font-weight: 400;
}